 .container {
     display: flex;
     margin-left: 80px;
 }

 #score {
     
 }
 
 .grid {
     margin-top: 20px;
     width: 200px;
     height: 400px;
     display: flex;
     flex-wrap: wrap;
     background-color: rgb(174, 168, 219);
     border-color: rgb(38, 40, 61);
     border-width: 10px;
     border-style: solid;
     border-radius: 20px;
 }

 .grid div {    
     width: 20px;
     height: 20px;
 }

 .tetromino {
     
 } 

 .mini-grid {
     margin-left: 50px;
     margin-top: 20px;
     width: 80px;
     height: 80px;
     display: flex;
     flex-wrap: wrap;
     background-color: rgb(174, 168, 219);  
     border-color: rgb(38, 40, 61);
     border-width: 10px;
     border-style: solid;
     border-radius: 20px; 
 }

 .mini-grid div {
    width: 20px;
    height: 20px;   
}